affine==2.4.0
asgiref==3.10.0
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
click-plugins==1.1.1.2
cligj==0.7.2
Django==5.2.7
django-extensions==4.1
django-filter==25.2
django-rest-framework==0.1.0
djangorestframework==3.16.1
djangorestframework-gis==1.2.0
geopandas==1.1.1
gunicorn==23.0.0
idna==3.11
logging==0.4.9.6
numpy==2.3.5
packaging==25.0
pandas==2.3.3
psycopg2==2.9.11
pyogrio==0.12.1
pyparsing==3.2.5
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
pytz==2025.2
rasterio==1.4.3
requests==2.32.5
rioxarray==0.19.0
shapely==2.1.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
xarray==2025.12.0
